<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <p:layout fullPage="true">

                <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">
                    <h:form id ="form1">
                        <p:panelGrid columns="4">
                            <p:clock pattern="dd/MM/yyyy" />
                            <p:clock pattern="hh:mm:ss" />
                            <p:outputLabel value="Select Calendar"/>
                            <p:calendar id="cal"  navigator="true" />
                        </p:panelGrid>
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                    Footer
                </p:layoutUnit>

                <p:layoutUnit position="west" size="250" header="Menu" collapsible="true">
                    <h:form id="form2">
                        <p:menu>
                            <p:submenu label="Navigations">
                              
                                <p:menuitem value="Rechercher" outcome="/web/user/ListUserPositionn.xhtml" icon="fa fa-user"/>
                            </p:submenu>
                        </p:menu> 
                    </h:form>
                </p:layoutUnit>

                <p:layoutUnit position="center">
                    <p:panel>
                        <p:panelGrid columns="2">
                            <p:panelGrid columns="1">
                                <h:form id="form3">
                                    <p:panel header="Rechercher par user">
                                        <p:panelGrid columns="2">
                                            <p:outputLabel value="user"/>
                                            <p:selectOneMenu value="#{userController.selected.id}" required="true" >
                                                <f:selectItem itemLabel="Select One" itemValue=""/>
                                                <f:selectItems value="#{userController.items}" var="s"
                                                               itemLabel="#{s.nom}" itemValue="#{s.id}"/>
                                                <p:ajax event="change" listener="#{userController.load}" update=":form,:map"/>
                                            </p:selectOneMenu>


                                        </p:panelGrid>
                                    </p:panel>
                                </h:form>
                                <h:form id="form">

                                    <p:growl id="messages" showDetail="true"/>

                                    <p:dataTable var="m" value="#{userController.positions}" id="tab" editable="true" paginator="true" rows="10" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="5,10,15">

                                        <f:facet name="header">
                                            Liste des positions
                                        </f:facet>
                                        <p:ajax event="rowEdit" listener="#{userController.onEdit}" update=":form:messages" />
                                        <p:ajax event="rowEditCancel" listener="#{userController.onCancel}" update=":form:messages" />

                                        <p:column headerText="latitude" style="width:30%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{m.latitude}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{m.latitude}" style="width:100%"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="longitude" style="width:20%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{m.longitude}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{m.longitude}" style="width:100%" label="Year"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        

                                        <p:column headerText="Date" style="width:20%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <p:calendar value="#{m.date}" pattern="yyyy-MM-dd" disabled="true"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:calendar value="#{m.date}" pattern="yyyy-MM-dd"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="user" style="width:20%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{m.userId.nom}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:selectOneMenu value="#{m.userId.id}" required="true" style="width: 100px;">
                                                        <f:selectItem itemLabel="#{m.userId.nom}" itemValue="#{m.userId.id}"/>
                                                        <f:selectItems value="#{userController.items}" var="s"
                                                                       itemLabel="#{s.nom}" itemValue="#{s.id}"/>
                                                    </p:selectOneMenu>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>


                                    </p:dataTable>
                                </h:form>
                            </p:panelGrid>
                            
                            <p:panelGrid columns="1">
                                <h:form id="f1">
                                    <p:growl id="growl" showDetail="true" sticky="true"  life="1000"/>
                                    <p:panel header="Rechercher par date">
                                        <p:panelGrid columns="2" id="p1">
                                            <p:outputLabel value="Date 1"/>
                                            <p:calendar value="#{positionController.date1}"/>
                                            <p:outputLabel value="Date 2"/>
                                            <p:calendar value="#{positionController.date2}"/>
                                        </p:panelGrid>
                                        <p:commandButton value="Chercher" actionListener="#{positionController.positionLoad()}" update=":form4:tab9"/>        

                                    </p:panel>
                                </h:form>
                                <h:form id="form4">

                                    <p:growl id="messages" showDetail="true"/>

                                    <p:dataTable var="m" value="#{positionController.positionsBetweenDates}" id="tab9" editable="true" paginator="true" rows="10" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                                 rowsPerPageTemplate="5,10,15">

                                        <f:facet name="header">
                                            Liste des positions
                                        </f:facet>

                                        <p:ajax event="rowEdit" listener="#{userController.update}"  update=":form:messages" />
                                       

                                        <p:column headerText="latitude" style="width:30%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{m.latitude}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{m.latitude}" style="width:100%"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="longitude" style="width:20%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{m.longitude}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:inputText value="#{m.longitude}" style="width:100%" label="Year"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                      

                                        <p:column headerText="Date " style="width:20%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <p:calendar value="#{m.date}" pattern="yyyy-MM-dd" disabled="true"/>
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:calendar value="#{m.date}" pattern="yyyy-MM-dd"/>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>

                                        <p:column headerText="user" style="width:20%">
                                            <p:cellEditor>
                                                <f:facet name="output">
                                                    <h:outputText value="#{m.userId.nom}" />
                                                </f:facet>
                                                <f:facet name="input">
                                                    <p:selectOneMenu value="#{m.userId.id}" required="true" style="width: 100px;">
                                                        <f:selectItem itemLabel="#{m.userId.nom}" itemValue="#{m.userId.id}"/>
                                                        <f:selectItems value="#{userController.items}" var="s"
                                                                       itemLabel="#{s.nom}" itemValue="#{s.id}"/>
                                                    </p:selectOneMenu>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                    </p:dataTable>

                                </h:form>
                            </p:panelGrid>
                        </p:panelGrid>
                        <h:form id="map">
                            <p:gmap center="30.399009895035054, -9.537275524433541" zoom="10" type="HYBRID" style="width:100%;height:400px" model="#{userController.simpleModel}" />
                   </h:form>
                    </p:panel>    



                </p:layoutUnit>

            </p:layout>

        </h:body>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    </f:view>
</html>