<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PositionEditDlg" widgetVar="PositionEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPositionTitle}">
            <h:form id="PositionEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{positionController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPositionLabel_latitude}" for="latitude" />
                        <p:inputText id="latitude" value="#{positionController.selected.latitude}" title="#{bundle.EditPositionTitle_latitude}" />
                        <p:outputLabel value="#{bundle.EditPositionLabel_longitude}" for="longitude" />
                        <p:inputText id="longitude" value="#{positionController.selected.longitude}" title="#{bundle.EditPositionTitle_longitude}" />
                        <p:outputLabel value="#{bundle.EditPositionLabel_date}" for="date" />
                        <p:calendar id="date" pattern="MM/dd/yyyy" value="#{positionController.selected.date}" title="#{bundle.EditPositionTitle_date}"  showOn="button"/>
                        <p:outputLabel value="#{bundle.EditPositionLabel_userId}" for="userId" />
                        <p:selectOneMenu id="userId" value="#{positionController.selected.userId}" required="true" requiredMessage="#{bundle.EditPositionRequiredMessage_userId}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{userController.itemsAvailableSelectOne}"
                                           var="userIdItem"
                                           itemValue="#{userIdItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{positionController.update}" value="#{bundle.Save}" update="display,:PositionListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PositionEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PositionEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
